## Fake News Detection

In [1]:
# Importing required libraries
import pandas as pd
import numpy as np

In [2]:
# Read in data
True_df = pd.read_csv('True.csv')
Fake_df = pd.read_csv('Fake.csv')

In [3]:
True_df.head()   # let's take a look at the True News dataset

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [4]:
Fake_df.head()  # let's take a look at the Fake News dataset

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
# Adding a new column in each dataset 

True_df['Class'] = 1       # 1 for True news
Fake_df['Class'] = 0       # 0 for Fake news

In [6]:
Fake_df.head()   # Updated dataset with class column

,title,text,subject,date,Class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [7]:
True_df.head()   # Updated dataset with class column

,title,text,subject,date,Class
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [8]:
True_df.shape ,Fake_df.shape   # checking the shape

((21417, 5), (23481, 5))

In [9]:
# excluding 10 observation from each dataset for manual testing
Fake_manual_testing = Fake_df.tail(10)
True_manual_testing = True_df.tail(10)

In [10]:
# droping those 10 observation from the both of the dataset
Fake_df.drop(Fake_df.tail(10).index, inplace=True)
True_df.drop(True_df.tail(10).index, inplace=True)

In [11]:
True_df.shape ,Fake_df.shape  # again cheking the shape

((21407, 5), (23471, 5))

In [12]:
Fake_manual_testing   # 10 excluded observation of fake news for manual testing in the end.

,title,text,subject,date,Class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",0
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",0
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",0
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",0
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",0

In [13]:
True_manual_testing   # 10 excluded observation of true news for manual testing in the end.

,title,text,subject,date,Class
21407,"Mata Pires, owner of embattled Brazil builder ...","SAO PAULO (Reuters) - Cesar Mata Pires, the ow...",worldnews,"August 22, 2017",1
21408,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21409,"U.S., North Korea clash at U.N. arms forum on ...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1
21410,Headless torso could belong to submarine journ...,COPENHAGEN (Reuters) - Danish police said on T...,worldnews,"August 22, 2017",1
21411,North Korea shipments to Syria chemical arms a...,UNITED NATIONS (Reuters) - Two North Korean sh...,worldnews,"August 21, 2017",1
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [14]:
Fake_df.shape, True_df.shape

((23471, 5), (21407, 5))

In [15]:
# Merging both of the dataset.
Merge_df = pd.concat([Fake_df, True_df], axis = 0)
Merge_df.head()

,title,text,subject,date,Class
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [16]:
Merge_df.shape  # checking shape of merged dataset.

(44878, 5)

In [17]:
Merge_df.columns  # checking all the columns.

Index(['title', 'text', 'subject', 'date', 'Class'], dtype='object')

### Preparing dataset for Machine Learning

In [ ]:
Final_data = Merge_df.drop(['title', 'date', 'subject'], axis = 1)  # preparing the dataset for machine learning.

In [19]:
Final_data.head()   # here is the Final dataset

                                                text  Class
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [20]:
Final_data.isnull().sum()   # checking Null values.

text     0
Class    0
dtype: int64

In [21]:
# Shuffle the rows of the DataFrame to randomize the order of the data
# This step is performed to ensure that the data is evenly distributed when splitting into training and testing set
Final_data = Final_data.sample(frac = 1)

In [22]:
Final_data

                                                    text  Class
1397   (Reuters) - The U.S. Department of Justice has...      1
21700  Coming to a town near you A sign was hung in a...      0
1568   WASHINGTON (Reuters) - A U.S. House of Represe...      1
19195  https://www.youtube.com/watch?time_continue=13...      0
10961  Brian Mast scorched the Democrats for their ly...      0
...                                                  ...    ...
7551   President Obama is widely expected to be an ex...      0
4474   If you tuned into the first presidential debat...      0
8002   We ve already discussed Barack Obama s many ac...      0
18032  BARCELONA (Reuters) - Catalonia will apply a r...      1
16793  The haunting words the day before his death wi...      0

[44878 rows x 2 columns]

In [23]:
# Reset the index of the DataFrame to ensure consecutive and unique index values
# This step is performed to avoid any issues related to previous index values and to have a clean index for further processing
Final_data.reset_index(inplace = True)

In [24]:
Final_data.drop(['index'], axis = 1, inplace = True)   # droping the shuffled index.

In [25]:
Final_data

                                                    text  Class
0      (Reuters) - The U.S. Department of Justice has...      1
1      Coming to a town near you A sign was hung in a...      0
2      WASHINGTON (Reuters) - A U.S. House of Represe...      1
3      https://www.youtube.com/watch?time_continue=13...      0
4      Brian Mast scorched the Democrats for their ly...      0
...                                                  ...    ...
44873  President Obama is widely expected to be an ex...      0
44874  If you tuned into the first presidential debat...      0
44875  We ve already discussed Barack Obama s many ac...      0
44876  BARCELONA (Reuters) - Catalonia will apply a r...      1
44877  The haunting words the day before his death wi...      0

[44878 rows x 2 columns]

In [26]:
# Importing the necessary libraries for text preprocessing
import re  # Regular expression library for pattern matching and text manipulation
import string  # Library for string operations such as punctuation removal

In [27]:
def wordopt(text):
    text = text.lower()  # Convert the text to lowercase
    text = re.sub('\[.*?\]', '', text)  # Remove any text enclosed in square brackets
    text = re.sub("\\W", " ", text)  # Replace non-alphanumeric characters with a space
    text = re.sub('https?://\S+|www\.\S+', '', text)  # Remove URLs or website addresses
    text = re.sub('<.*?>+', '', text)  # Remove HTML tags
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)  # Remove punctuation marks
    text = re.sub('\n', '', text)  # Remove newline characters
    text = re.sub('\w*\d\w*', '', text)  # Remove alphanumeric words containing digits
    return text

In [28]:
# Apply the wordopt function to preprocess the 'text' column of the Final_data DataFrame
Final_data['text'] = Final_data['text'].apply(wordopt)

In [29]:
x = Final_data['text']     # independent variable
y = Final_data['Class']    # dependent variable

In [30]:
# Importing the necessary libraries
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [31]:
# Split the data into training and testing sets with a test size of 25%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25)

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()  # Create an instance of TfidfVectorizer for text vectorization
xv_train = vectorization.fit_transform(x_train)  # Transform the training data into TF-IDF features
xv_test = vectorization.transform(x_test)  # Transform the testing data using the same vectorization as the training data

In [33]:
from sklearn.linear_model import LogisticRegression

LR = LogisticRegression()  # Create an instance of LogisticRegression classifier
LR.fit(xv_train, y_train)  # Fit the classifier to the training data

LogisticRegression()

In [34]:
predict_lr = LR.predict(xv_test)   # Perform predictions using the trained LogisticRegression on the test data

In [35]:
LR.score(xv_test, y_test)   # Calculate the accuracy score of the LogisticRegression on the test data

0.9848484848484849

In [36]:
print(classification_report(y_test, predict_lr))   # Print the classification report

              precision    recall  f1-score   support

           0       0.99      0.98      0.99      5859
           1       0.98      0.99      0.98      5361

    accuracy                           0.98     11220
   macro avg       0.98      0.98      0.98     11220
weighted avg       0.98      0.98      0.98     11220

In [37]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()  # Create an instance of DecisionTreeClassifier classifier
DT.fit(xv_train, y_train)      # Fit the classifier to the training data

DecisionTreeClassifier()

In [38]:
predict_dt = DT.predict(xv_test)   # Perform predictions using the trained DecisionTreeClassifier on the test data

In [39]:
DT.score(xv_test, y_test)   # Calculate the accuracy score of the DecisionTreeClassifier on the test data

0.9957219251336898

In [40]:
print(classification_report(y_test, predict_dt))   # Print the classification report

              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5859
           1       1.00      0.99      1.00      5361

    accuracy                           1.00     11220
   macro avg       1.00      1.00      1.00     11220
weighted avg       1.00      1.00      1.00     11220

In [41]:
from sklearn.ensemble import GradientBoostingClassifier

GB = GradientBoostingClassifier(random_state=0)  # Create an instance of GradientBoostingClassifier
GB.fit(xv_train, y_train)  # Fit the classifier to the training data

GradientBoostingClassifier(random_state=0)

In [42]:
predict_gb = GB.predict(xv_test)   # Perform predictions using the trained GradientBoostingClassifier on the test data

In [43]:
GB.score(xv_test, y_test)   # Calculate the accuracy score of the GradientBoostingClassifier on the test data

0.9950089126559715

In [44]:
print(classification_report(y_test, predict_gb))   # Print the classification report

              precision    recall  f1-score   support

           0       1.00      0.99      1.00      5859
           1       0.99      1.00      0.99      5361

    accuracy                           1.00     11220
   macro avg       0.99      1.00      0.99     11220
weighted avg       1.00      1.00      1.00     11220

In [45]:
from sklearn.ensemble import RandomForestClassifier

RF = RandomForestClassifier(random_state=0)  # Create an instance of RandomForestClassifier
RF.fit(xv_train, y_train)  # Fit the classifier to the training data

RandomForestClassifier(random_state=0)

In [46]:
predict_rf = RF.predict(xv_test)  # Perform predictions using the trained RandomForestClassifier on the test data

In [47]:
RF.score(xv_test, y_test)   # Calculate the accuracy score of the RandomForestClassifier on the test data

0.9878787878787879

In [ ]:
print(classification_report(y_test, predict_rf))  # Print the classification report

#### Let's perform the prediction on manual testing dataset

In [49]:
# performing the merging operation on manual testing dataset which we excluded from the main dataset
merge_df = pd.concat([Fake_manual_testing, True_manual_testing], axis = 0)
merge_df.head()

,title,text,subject,date,Class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [50]:
# dropping the unwanted columns from dataset
new_df = merge_df.drop(['title', 'subject', 'date'], axis = 1)
new_df.head()

                                                    text  Class
23471  21st Century Wire says This week, the historic...      0
23472   By Dady Chery and Gilbert MercierAll writers ...      0
23473  Vic Bishop Waking TimesOur reality is carefull...      0
23474  Paul Craig RobertsIn the last years of the 20t...      0
23475  Robert Fantina CounterpunchAlthough the United...      0

In [51]:
# Shuffling the observations.
new_df = new_df.sample(frac = 1)
new_df.head()

                                                    text  Class
23471  21st Century Wire says This week, the historic...      0
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
23478  Patrick Henningsen  21st Century WireRemember ...      0
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1

In [52]:
# reseting the index
new_df.reset_index(inplace = True)

In [53]:
new_df.head()

   index                                               text  Class
0  23471  21st Century Wire says This week, the historic...      0
1  21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1
2  21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
3  23478  Patrick Henningsen  21st Century WireRemember ...      0
4  21413  LONDON (Reuters) - LexisNexis, a provider of l...      1

In [54]:
new_df.drop(['index'], axis = 1, inplace = True)  # dropping the shuffled index

In [55]:
new_df.head(3)

                                                text  Class
0  21st Century Wire says This week, the historic...      0
1  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1
2  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1

In [56]:
new_df['text'] = new_df['text'].apply(wordopt)   # applying same text preprocessing as above to the 'text' column

In [57]:
x_new = new_df['text']    # independent variable
y_new = new_df['Class']   # dependent variable

In [58]:
xv_new = vectorization.transform(x_new)   # applying same vectorization as above.

In [59]:
predictions = []   # Creating an empty list to store the predictions

In [60]:
# Performing manual testing using Logistic Regression model and storing the predictions
manual_testing_predictions1 = LR.predict(xv_new)
predictions.append(manual_testing_predictions1)

In [61]:
# Performing manual testing using Decision Tree model and storing the predictions
manual_testing_predictions2 = DT.predict(xv_new)
predictions.append(manual_testing_predictions2)

In [62]:
# Performing manual testing using Gradient Boosting model and storing the predictions
manual_testing_predictions3 = GB.predict(xv_new)
predictions.append(manual_testing_predictions3)

In [63]:
# Performing manual testing using Random Forest model and storing the predictions
manual_testing_predictions4 = RF.predict(xv_new)
predictions.append(manual_testing_predictions4)

In [64]:
# Creating a label mapping dictionary to map the predicted labels
label_map = {1: "Not Fake News", 0: "Fake News"}

# Initializing a list to store the predicted labels
predicted_labels = []

In [65]:
# Iterate through each prediction in the predictions list
for pred in predictions:
    # Map the predicted labels using the label_map dictionary
    labels = [label_map[prediction] for prediction in pred]
    # Append the mapped labels to the predicted_labels list
    predicted_labels.append(labels)

In [66]:
# Iterate through each index and labels in the predicted_labels list
for i, labels in enumerate(predicted_labels):
    # Create a model name string using the index
    model_name = f"Model {i+1}"
    # Print the model name and corresponding labels
    print(f"{model_name} predictions: {labels}")

Model 1 predictions: ['Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Fake News']
Model 2 predictions: ['Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Fake News']
Model 3 predictions: ['Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Fake News']
Model 4 predictions: ['Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Fake News', 'Fake News', 'Fake News', 'Not Fake News', 'Not Fake News', 'Fake News', 'Not Fake News', 'Fake News']

In [67]:
def labels(n):
    # Function to assign labels based on the input value 'n'
    if n == 0:
        return 'Fake News'
    elif n == 1:
        return 'Not a Fake News'

In [68]:
def predict_news(Text):
    # Function to predict the label of the given news text using different models
    news_text = pd.DataFrame({'text': [Text]})
    news_text['text'] = news_text['text'].apply(wordopt)
    v_text = news_text['text']
    xv_text = vectorization.transform(v_text)
    model_LR = LR.predict(xv_text)
    model_DT = DT.predict(xv_text)
    model_GB = GB.predict(xv_text)
    model_RF = RF.predict(xv_text)
    labels_LR = labels(model_LR)
    labels_DT = labels(model_DT)
    labels_GB = labels(model_GB)
    labels_RF = labels(model_RF)
    
    # Printing the predictions from each model
    print("Logistic Regression prediction:", labels_LR)
    print("Decision Tree prediction:", labels_DT)
    print("Gradient Boosting prediction:", labels_GB)
    print("Random Forest prediction:", labels_RF)

In [ ]:
news_input = str(input())  # Accepting user input for the news text
predict_news(news_input)  # Calling the predict_news function to predict the label of the input news

### The End